@font-face {
  font-family: 'TikTokFont-Semibold';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff2?_default_font=1&v=1)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.woff?_default_font=1&v=1)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Semibold.otf?_default_font=1&v=1)
      format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
