@font-face {
  font-family: 'TikTokDisplayFont-Semibold';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Semibold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}
