@font-face {
  font-family: 'TikTokFont-Regular';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff2?_default_font=1&v=1)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.woff?_default_font=1&v=1)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokFont-Regular.otf?_default_font=1&v=1)
      format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
