@font-face {
  font-family: 'TikTokDisplayFont-Bold';
  src: url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff2?_default_font=1&v=2)
      format('woff2'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.woff?_default_font=1&v=2)
      format('woff'),
    url(https://lf16-tiktok-common.ibytedtos.com/obj/tiktok-web-common-sg/tiktok_fonts/TikTokDisplayFont-Bold.otf?_default_font=1&v=2)
      format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}
